server:
  port: 8080

spring:
  application:
    name: fleet-management
    
  docker:
    compose:
      enabled: false

  # 1. R2DBC (Runtime - Réactif)
  r2dbc:
    url: r2dbc:postgresql://${DB_HOST:168.119.122.86}:${DB_PORT:5432}/${DB_NAME:yowyob}
    username: ${DB_USERNAME:master}
    password: ${DB_PASSWORD:Azerty1234*}
    pool:
      enabled: true
      initial-size: 5
      max-size: 20
      validation-query: SELECT 1

  # 2. JDBC (Migration - Bloquant pour Liquibase) - INDISPENSABLE POUR QUE ÇA MARCHE
  datasource:
    url: jdbc:postgresql://${DB_HOST:168.119.122.86}:${DB_PORT:5432}/${DB_NAME:yowyob}
    username: ${DB_USERNAME:master}
    password: ${DB_PASSWORD:Azerty1234*}
    driver-class-name: org.postgresql.Driver

  # 3. LIQUIBASE (Configuration corrigée)
  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml
    default-schema: fleet # En prod, on peut essayer de viser fleet direct si le user a les droits, sinon public
    liquibase-schema: public
    enabled: true
    contexts: prod # Important : empêche le chargement du mock public

  # Désactivation de l'ancien init SQL
  sql:
    init:
      mode: never

  # REDIS CLUSTER (Spécifique Prod)
  data:
    redis:
      password: ${REDIS_PASSWORD:Azerty1234*}
      cluster:
        nodes:
          - ${REDIS_HOST:168.119.122.86}:7001
          - ${REDIS_HOST:168.119.122.86}:7002
          - ${REDIS_HOST:168.119.122.86}:7003
          - ${REDIS_HOST:168.119.122.86}:7004
          - ${REDIS_HOST:168.119.122.86}:7005
          - ${REDIS_HOST:168.119.122.86}:7006

  # KAFKA 
  kafka:
    bootstrap-servers: ${KAFKA_HOST:168.119.122.86}:${KAFKA_PORT:9092}
    consumer:
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*"
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

# CONFIG METIER
application:
  external:
    vehicle-service-url: https://fare-calculator-service.pynfi.com # Vérifier si c'est la bonne URL de prod
  auth:
    mode: remote 
    url: https://auth-service.pynfi.com

  kafka:
    topics:
      geofence-alerts: geofence-alerts-topic

# MONITORING & RESILIENCE
management:
  endpoints:
    web:
      exposure:
        include: ["health","info","prometheus"]
  endpoint:
    health:
      show-details: "always"
      probes:
        enabled: true
  metrics:
    export:
      prometheus:
        enabled: true

resilience4j:
  circuitbreaker:
    instances:
      stock-service:
        failureRateThreshold: 50
        waitDurationInOpenState: 5s
        slidingWindowSize: 5